@use "@/styles/helpers" as *;

.pageContainer {
  max-width: 1700px;
  margin: 0 auto;
}

.gridClass {
  display: grid;
  gap: fluid(16, 8);
}


.wrapper.wrapper {
  @extend .gridClass;

  @media (width >= 1000px) {
    grid-template-rows: auto auto;
  }
}

.topWidgetsWrapper.topWidgetsWrapper {
  @extend .gridClass;

  @media (width >= 1000px) {
    grid-template-columns: auto auto;
  }
}

.smallWidgetWrapper.smallWidgetWrapper {
  @extend .gridClass;

  @media (width >= 480px) {
    grid-template-columns: auto auto;
  }
}

.smallWidgetsColumnWrapper.smallWidgetsColumnWrapper {
  @extend .gridClass;

  @media (width >= 1000px) {
    grid-template-rows: 1fr 1fr;
  }
}

.wideWidgetsWrapper.wideWidgetsWrapper {
  @extend .gridClass;

  @media (width >= 1000px) {
    grid-template-rows: 1fr 1fr;
  }
}

.bigWidgetsWrapper.bigWidgetsWrapper {
  @extend .gridClass;

  @media (width >= 1000px) {
    grid-template-columns: auto 1fr;
  }
}

.pageName.pageName {
  padding: 0;
  font-size: fluid(40, 20);
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 10px;
}

